@import 'vars';

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 1000px;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.left-column {
		padding: 10px 30px;
	}

	.right-column {
		@media screen and (max-width: $break-tablet) {
			display: none;
		}
	}

	.input-fields {
		input,
		textarea {
			border: 1px solid #d8d8d8;
			border-radius: 5px;
			width: 100%;
			padding-left: 10px;
			font-family: $mainFont;

			&:focus {
				outline: 0;
			}
		}

		input {
			height: 30px;
		}

		input[type='submit'] {
			width: 50%;
			height: 40px;
			background-color: $rouge;
			border: 1px solid #fff;
			border-radius: 10px;
			color: #fff;
			transition: all 0.3s ease-in-out;
			cursor: pointer;

			&:hover {
				transition: all 0.3s ease-in-out;
				background-color: #fff;
				border-color: $rouge;
				color: $rouge;
				font-weight: 600;
			}

			&:focus {
				outline: none;
			}
		}

		textarea {
			height: 130px;
			resize: none;
			padding-top: 10px;
		}

		label {
			position: absolute;
			font-weight: 300px;
			font-size: 13px;
			top: -20px;
			left: 0;
		}
	}

	@media screen and (max-width: $break-medium) {
		width: 95%;
	}

	@media screen and (max-width: $break-tablet) {
		grid-template-columns: 1fr;
	}
}

.modal-add-restaurant {
	.left-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.container-title {
		h3 {
			font-size: 35px;
			text-align: center;
			margin-bottom: 10px;

			span {
				display: block;
				font-size: 30px;
				font-weight: 300;
				margin-top: 12px;
			}
		}
	}

	form {
		.input-fields {
			> div {
				margin-top: 50px;
				position: relative;
			}

			.submit-comment {
				text-align: center;
			}
		}
	}
}

.modal-add-comment {
	.left-column {
		.name-restaurant {
			h3 {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
			span {
				font-weight: 300;
				margin-left: 20px;
				font-size: 13px;
			}
		}

		.input-fields {
			.container-name-user,
			.container-note,
			.container-comment-user {
				margin-top: 50px;
				position: relative;
			}

			.submit-comment {
				text-align: center;
				margin-top: 20px;
			}

			.container-note {
				display: flex;
				justify-content: flex-start;
				align-content: center;
				align-items: center;

				.star {
					background-image: url('../../assets/img/star-inactive.png');
					background-position: center;
					background-size: cover;
					width: 27px;
					height: 27px;
					cursor: pointer;

					&:hover,
					&.active,
					&.selected {
						background-image: url('../../assets/img/star-active.png');
					}
				}
			}
		}
	}

	.right-column {
		background-size: cover;
		background-position: center;
	}
}
