@import 'vars';

.oc-btn {
	position: relative;
	border: none;
	padding: 15px;
	box-shadow: 0 5px 15px -5px rgba(#cccccc, 0.8);
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	text-decoration: none;
	font-size: 15px;

	span {
		position: relative;
		color: #52616b;
		transition: color 400ms ease;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 101%;
		height: 101%;
		transition: 400ms ease;
		background-color: #fefefe;
		border-radius: 5px;
		transform-origin: left center;
		transform: translateZ(0) perspective(100px);
	}

	&:hover {
		&::before {
			transform: translateZ(0) perspective(100px) rotateY(10deg);
			opacity: 0;
		}
		span {
			color: #fefefe;
		}
	}

	&.--white-red {
		background-image: linear-gradient(135deg, $rouge 10%, $rouge 100%);

		&:hover {
			box-shadow: 0 5px 15px -5px rgba($rouge, 0.8);
		}
	}

	&.--white-blue {
		background-image: linear-gradient(135deg, $bleu 10%, $bleu 100%);

		&:hover {
			box-shadow: 0 5px 15px -5px rgba($bleu, 0.8);
		}
	}
}
