@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$break-ultra-large: 1340px;
$break-large: 1240px;
$break-medium: 1040px;
$break-tablet: 780px;
$break-small: 440px;

$mainFont: 'Roboto', sans-serif;
$mainColor: #333333;
$colorBg: #e3e3e3;
