@import 'vars';
@import 'oc-btn';

body {
	font-family: $mainFont;
	background-color: $colorBg;
	color: $mainColor;

	h1,
	h2,
	h3 {
		line-height: 25px;
	}

	h1 {
		font-size: 50px;
		font-weight: 700;
	}

	h2 {
		font-size: 35px;
		font-weight: 600;
	}

	h3 {
		font-size: 25px;
		font-weight: 400;
	}

	p {
		font-size: 18px;
		line-height: 19px;
		font-weight: 300;
	}
}
