@import 'vars';
@import 'animations';
@import 'range';
@import 'modal';

body {
	font-family: $mainFont;
	background-color: $colorBg;
	color: $mainColor;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;

	h1,
	h2,
	h3 {
		line-height: 25px;
	}

	h1 {
		font-size: 70px;
		font-weight: 700;
		font-family: 'brown';
		letter-spacing: -4px;
		color: #fff;

		span {
			color: $rouge;
		}
	}

	h2 {
		font-size: 35px;
		font-weight: 600;
	}

	h3 {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 0px;
	}

	p {
		font-size: 18px;
		line-height: 19px;
		font-weight: 300;
	}

	.hide {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;

		svg {
			width: 150px;

			path {
				stroke-width: 2px;
			}
		}
	}

	.container-map {
		width: 100%;
		height: 100%;

		&.active {
			display: grid;
			grid-template-columns: 20vw 80vw;
			transition: all 0.3s ease-in-out;

			.control {
				position: initial;
				opacity: 1;
				z-index: inherit;
				transition: all 0.3s ease-in-out;

				@media screen and (max-width: $break-tablet) {
					position: absolute;
					top: 70px;
					left: 50%;
					transform: translateX(-50%);
					width: 95%;
					height: 500px;
					z-index: 1;
				}
			}

			@media screen and (max-width: $break-ultra-large) {
				grid-template-columns: 30vw 70vw;
			}

			@media screen and (max-width: $break-medium) {
				grid-template-columns: 40vw 60vw;
			}

			@media screen and (max-width: $break-tablet) {
				grid-template-columns: 1fr;
			}
		}

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.55);
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: url('../../src/assets/img/cursor-pointer.png'), pointer;
		}

		.control {
			position: absolute;
			opacity: 0;
			z-index: -1;

			&.comment {
				.filter-stars,
				.list-restaurants {
					display: none;
				}

				.container-restaurant {
					background-color: #fff;
					display: flex;
					justify-content: flex-start;
					align-content: center;
					align-items: flex-start;
					flex-direction: column;
					height: 100vh;
					position: relative;

					.back-to-list {
						width: 40px;
						height: 40px;
						position: absolute;
						top: 20px;
						left: 20px;
						background-color: #fff;
						border-radius: 100px;
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						cursor: pointer;

						img {
							width: 20px;
							height: 20px;
							position: relative;
							left: -2px;
						}
					}

					.stars,
					.note {
						display: flex;
						justify-content: flex-start;
						align-content: center;
						align-items: center;

						span {
							background-image: url('../../src/assets/img/star-inactive.png');
							background-position: center;
							background-size: cover;
							width: 20px;
							height: 20px;
							// display: block;

							&.active {
								background-image: url('../../src/assets/img/star-active.png');
							}
						}
					}

					.img-restaurant {
						width: 100%;
						height: 200px;
						background-size: cover;
						background-position: center;

						@media screen and (max-width: $break-tablet) {
							border-top-left-radius: 20px;
							border-top-right-radius: 20px;
							overflow: hidden;
						}
					}

					.container-inf-restaurant {
						padding: 20px;

						.name-restaurant {
							margin-bottom: 10px;
						}

						.address-restaurant {
							font-weight: 300;
						}

						.average-ratings {
							margin: 20px 0;
							display: flex;
							justify-content: flex-start;
							align-content: center;
							align-items: center;

							.title-average {
								font-size: 20px;
								margin-right: 40px;
								font-weight: 300;
							}

							.ratings {
								display: flex;
								justify-content: flex-start;
								align-items: center;
								align-content: center;
								flex-direction: column;

								.average {
									font-size: 50px;
									font-weight: 600;
								}

								.nb-ratings {
									margin-top: 7px;
									font-weight: 300;
									font-size: 14px;
									text-decoration: underline;
									cursor: pointer;
								}
							}
						}

						.container-add-comment {
							margin: 30px 0;
							.add-comment {
								width: 100%;

								-webkit-appearance: none;
								border: 1px solid;
								border-radius: 10px;
								padding: 10px;
								color: $mainColor;
								font-size: 16px;
								font-weight: 300;
								transition: all 0.3s ease-in-out;
								cursor: pointer;
								background-color: $bleu;
								border-color: #fff;
								color: #fff;

								&:hover {
									transition: all 0.3s ease-in-out;
									background-color: #fff;
									border-color: #969696;
									color: $mainColor;
								}

								&:focus {
									outline: 0;
								}
							}
						}

						.comments-restaurant {
							&.scrolled-comment {
								overflow-y: scroll;
								height: 40vh;
							}
							.container-comment {
								.container-avatar {
									display: flex;
									justify-content: flex-start;
									align-items: center;
									align-content: center;
									margin-bottom: 10px;

									.avatar {
										height: 32px;
										width: 32px;
										background-size: cover;
										background-position: center;
										border-radius: 50%;
										margin-right: 15px;
									}
								}

								.comment {
									font-size: 15px;
									font-weight: 300;
									margin-bottom: 21px;
									margin-top: 10px;
									padding-right: 20px;
								}
							}
						}

						@media screen and (max-width: $break-tablet) {
							height: 250px;
							overflow-y: scroll;
						}
					}

					@media screen and (max-width: $break-tablet) {
						height: auto;
						border-radius: 20px;
					}
				}
			}

			> .list-restaurants {
				background-color: #fff;
				display: flex;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
				flex-direction: column;
				height: 100vh;

				&.scrolled {
					overflow-y: scroll;
					height: 88vh;
				}

				.restaurant {
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
					width: 100%;
					position: relative;
					padding-bottom: 10px;
					padding-top: 10px;
					min-height: 140px;

					.left {
						width: 250px;
						margin-left: 10px;

						.stars {
							display: flex;
							justify-content: flex-start;
							align-content: center;
							align-items: center;
							margin-bottom: 15px;

							span {
								background-image: url('../../src/assets/img/star-inactive.png');
								background-position: center;
								background-size: cover;
								width: 20px;
								height: 20px;
								// display: block;

								&.active {
									background-image: url('../../src/assets/img/star-active.png');
								}
							}
						}

						.addresse {
							font-size: 15px;
							font-weight: 300;
							padding-right: 15px;
						}
					}

					.right {
						width: 80px;
						height: 80px;
						background-size: cover;
						background-position: center;
						transition: all 0.3s ease-in-out;
						margin-right: 10px;
					}

					&:not(:last-child) {
						border-bottom: 2px solid #f2f2f2;
					}

					&:hover {
						background-color: #f2f2f2;
						cursor: pointer;
					}
				}

				@media screen and (max-width: $break-tablet) {
					height: 265px;
					overflow-y: scroll;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 20px;
				}
			}

			.filter-stars {
				background-color: $bleu;
				width: 100%;
				height: auto;

				.container-filter-stars {
					padding: 20px;
				}

				h3 {
					margin: 0;
					color: #fff;

					@media screen and (max-width: $break-tablet) {
						display: none;
					}
				}

				.filter {
					display: flex;
					justify-content: flex-start;
					align-content: center;
					align-items: center;
					margin-top: 20px;

					.dismiss {
						background-color: #fff;
						border-radius: 100px;
						width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						cursor: pointer;
						margin-left: 40px;
						opacity: 0;
						transition: all 0.3s ease-in-out;

						&.active {
							opacity: 1;
							transition: all 0.3s ease-in-out;
						}

						svg {
							width: 20px;
							height: 20px;
						}
					}

					.output-stars {
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						background-color: #fff;
						padding: 5px 8px;
						border-radius: 8px;
						position: relative;
						margin-left: 17px;

						img {
							width: 15px;
							height: 15px;
							margin-left: 6px;
						}

						&:before {
							content: '\A';
							border-style: solid;
							border-width: 10px 15px 10px 0;
							border-color: transparent #fff transparent transparent;
							position: absolute;
							left: -8px;
						}
					}

					@media screen and (max-width: $break-tablet) {
						justify-content: center;
						margin-top: 0;
					}
				}

				@media screen and (max-width: $break-tablet) {
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
				}
			}
		}

		#map {
			height: 100%;
			width: 100%;
			position: relative;
		}
	}
}
