@import 'vars';
@import 'oc-btn';
@import 'oc-link';
@import 'animations';

body {
	font-family: $mainFont;
	background-color: $colorBg;
	color: $mainColor;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;

	h1,
	h2,
	h3 {
		line-height: 25px;
	}

	h1 {
		font-size: 70px;
		font-weight: 700;
		font-family: 'brown';
		letter-spacing: -4px;
		color: #fff;

		span {
			color: $rouge;
		}
	}

	h2 {
		font-size: 35px;
		font-weight: 600;
	}

	h3 {
		font-size: 25px;
		font-weight: 400;
	}

	p {
		font-size: 18px;
		line-height: 19px;
		font-weight: 300;
	}

	.hide {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;

		svg {
			width: 150px;

			path {
				stroke-width: 2px;
			}
		}
	}

	.container-map {
		width: 100%;
		height: 100%;

		&.active {
			display: grid;
			grid-template-columns: 20vw 80vw;
			transition: all 0.3s ease-in-out;
		}

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.55);
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: url('../../assets/img/cursor-pointer.png'), pointer;
		}

		.control {
			> .list-restaurants {
				background-color: #fff;
				display: flex;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
				flex-direction: column;
				height: 100vh;

				.restaurant {
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;

					.left {
						width: 200px;
					}

					.right {
						width: 80px;
						height: 80px;
						background-size: cover;
						background-position: center;
						transition: all 0.3s ease-in-out;
					}
				}

				// &.interaction {
				// 	border-radius: 0;
				// 	top: 0;
				// 	left: 0;
				// 	height: 100vh;
				// 	transform: none;
				// 	transition: all 0.3s ease-in-out;
				// }
			}
		}

		#map {
			height: 100%;
			width: 100%;
			position: relative;
		}
	}
}
