@import 'vars';
@import 'oc-btn';
@import 'oc-link';

body {
	font-family: $mainFont;
	background-color: $colorBg;
	color: $mainColor;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;

	&.interaction {
		width: 80vw;
		margin-left: auto;
	}

	h1,
	h2,
	h3 {
		line-height: 25px;
	}

	h1 {
		font-size: 50px;
		font-weight: 700;
	}

	h2 {
		font-size: 35px;
		font-weight: 600;
	}

	h3 {
		font-size: 25px;
		font-weight: 400;
	}

	p {
		font-size: 18px;
		line-height: 19px;
		font-weight: 300;
	}

	.hide {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	.container {
		max-width: 1170px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}

	.container-map {
		width: 100%;
		height: 100%;

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.55);
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: pointer;
		}

		.control {
			div:first-child {
				background-color: #fff;
				position: absolute;
				top: 50%;
				left: 15%;
				transform: translateY(-50%);
				z-index: 2;
				width: 400px;
				height: 600px;
				border-radius: 20px;
				padding: 30px;

				&.interaction {
					border-radius: 0;
					top: 0;
					left: 0;
					height: 100vh;
					width: 20vw;
					transform: none;
					transition: all 0.3s ease-in-out;
				}
			}
		}

		#map {
			height: 100%;
			width: 100%;
			position: relative;
		}
	}
}
