@import 'vars';
@import 'oc-btn';
@import 'oc-link';
@import 'animations';
@import 'range';

body {
	font-family: $mainFont;
	background-color: $colorBg;
	color: $mainColor;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;

	h1,
	h2,
	h3 {
		line-height: 25px;
	}

	h1 {
		font-size: 70px;
		font-weight: 700;
		font-family: 'brown';
		letter-spacing: -4px;
		color: #fff;

		span {
			color: $rouge;
		}
	}

	h2 {
		font-size: 35px;
		font-weight: 600;
	}

	h3 {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 0px;
	}

	p {
		font-size: 18px;
		line-height: 19px;
		font-weight: 300;
	}

	.hide {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;

		svg {
			width: 150px;

			path {
				stroke-width: 2px;
			}
		}
	}

	.container-map {
		width: 100%;
		height: 100%;

		&.active {
			display: grid;
			grid-template-columns: 20vw 80vw;
			transition: all 0.3s ease-in-out;

			.control {
				position: initial;
				opacity: 1;
				z-index: inherit;
				transition: all 0.3s ease-in-out;
			}
		}

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.55);
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: url('../../assets/img/cursor-pointer.png'), pointer;
		}

		.control {
			position: absolute;
			opacity: 0;
			z-index: -1;

			&.comment {
				.filter-stars,
				.list-restaurants {
					display: none;
				}

				.container-restaurant {
					background-color: #fff;
					display: flex;
					justify-content: flex-start;
					align-content: center;
					align-items: flex-start;
					flex-direction: column;
					height: 100vh;
					position: relative;

					.back-to-list {
						width: 40px;
						height: 40px;
						position: absolute;
						top: 20px;
						left: 20px;
						background-color: #fff;
						border-radius: 100px;
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						cursor: pointer;

						img {
							width: 20px;
							height: 20px;
							position: relative;
							left: -2px;
						}
					}

					.stars,
					.note {
						display: flex;
						justify-content: flex-start;
						align-content: center;
						align-items: center;

						span {
							background-image: url('../../assets/img/star-inactive.png');
							background-position: center;
							background-size: cover;
							width: 20px;
							height: 20px;
							// display: block;

							&.active {
								background-image: url('../../assets/img/star-active.png');
							}
						}
					}

					.img-restaurant {
						width: 100%;
						height: 200px;
						background-size: cover;
						background-position: center;
					}

					.container-inf-restaurant {
						padding: 20px;

						.name-restaurant {
							margin-bottom: 10px;
						}

						.address-restaurant {
							font-weight: 300;
						}

						.average-ratings {
							margin: 20px 0;
							display: flex;
							justify-content: flex-start;
							align-content: center;
							align-items: center;

							.title-average {
								font-size: 20px;
								margin-right: 40px;
								font-weight: 300;
							}

							.ratings {
								display: flex;
								justify-content: flex-start;
								align-items: center;
								align-content: center;
								flex-direction: column;

								.average {
									font-size: 50px;
									font-weight: 600;
								}

								.nb-ratings {
									margin-top: 7px;
									font-weight: 300;
									font-size: 14px;
									text-decoration: underline;
									cursor: pointer;
								}
							}
						}

						.container-add-comment {
							margin: 30px 0;
							.add-comment {
								width: 100%;

								-webkit-appearance: none;
								border: 1px solid;
								border-radius: 10px;
								padding: 10px;
								color: $mainColor;
								font-size: 16px;
								font-weight: 300;
								transition: all 0.3s ease-in-out;
								cursor: pointer;
								background-color: $bleu;
								border-color: #fff;
								color: #fff;

								&:hover {
									transition: all 0.3s ease-in-out;
									background-color: #fff;
									border-color: #969696;
									color: $mainColor;
								}

								&:focus {
									outline: 0;
								}
							}
						}

						.comments-restaurant {
							&.scrolled-comment {
								overflow-y: scroll;
								height: 40vh;
							}
							.container-comment {
								.container-avatar {
									display: flex;
									justify-content: flex-start;
									align-items: center;
									align-content: center;
									margin-bottom: 10px;

									.avatar {
										height: 32px;
										width: 32px;
										background-size: cover;
										background-position: center;
										border-radius: 50%;
										margin-right: 15px;
									}
								}

								.comment {
									font-size: 15px;
									font-weight: 300;
									margin-bottom: 21px;
									margin-top: 10px;
									padding-right: 20px;
								}
							}
						}
					}
				}
			}

			> .list-restaurants {
				background-color: #fff;
				display: flex;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
				flex-direction: column;
				height: 100vh;

				&.scrolled {
					overflow-y: scroll;
					height: 88vh;
				}

				.restaurant {
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
					width: 100%;
					position: relative;
					padding-bottom: 20px;

					.left {
						width: 250px;

						.stars {
							display: flex;
							justify-content: flex-start;
							align-content: center;
							align-items: center;
							margin-bottom: 15px;

							span {
								background-image: url('../../assets/img/star-inactive.png');
								background-position: center;
								background-size: cover;
								width: 20px;
								height: 20px;
								// display: block;

								&.active {
									background-image: url('../../assets/img/star-active.png');
								}
							}
						}

						.addresse {
							font-size: 15px;
							font-weight: 300;
						}
					}

					.right {
						width: 80px;
						height: 80px;
						background-size: cover;
						background-position: center;
						transition: all 0.3s ease-in-out;
					}

					&:not(:last-child) {
						border-bottom: 2px solid #f2f2f2;
					}

					&:hover {
						background-color: #f2f2f2;
						cursor: pointer;
					}
				}
			}

			.filter-stars {
				background-color: $bleu;
				width: 100%;
				height: auto;
				padding: 20px;

				h3 {
					margin: 0;
					color: #fff;
				}

				.filter {
					display: flex;
					justify-content: flex-start;
					align-content: center;
					align-items: center;
					margin-top: 20px;

					.dismiss {
						background-color: #fff;
						border-radius: 100px;
						width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						cursor: pointer;
						margin-left: 40px;
						opacity: 0;
						transition: all 0.3s ease-in-out;

						&.active {
							opacity: 1;
							transition: all 0.3s ease-in-out;
						}

						svg {
							width: 20px;
							height: 20px;
						}
					}

					.output-stars {
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						background-color: #fff;
						padding: 5px 8px;
						border-radius: 8px;
						position: relative;
						margin-left: 17px;

						img {
							width: 15px;
							height: 15px;
							margin-left: 6px;
						}

						&:before {
							content: '\A';
							border-style: solid;
							border-width: 10px 15px 10px 0;
							border-color: transparent #fff transparent transparent;
							position: absolute;
							left: -8px;
						}
					}
				}
			}
		}

		#map {
			height: 100%;
			width: 100%;
			position: relative;
		}

		.modal-add-comment {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			width: 1000px;
			height: 500px;
			border-radius: 20px;
			overflow: hidden;
			z-index: 1;
			display: grid;
			grid-template-columns: 1fr 1fr;

			.left-column {
				padding: 10px 30px;

				.name-restaurant {
					h3 {
						display: flex;
						justify-content: flex-start;
						align-items: center;
					}
					span {
						font-weight: 300;
						margin-left: 20px;
						font-size: 13px;
					}
				}

				.input-fields {
					.container-name-user,
					.container-note,
					.container-comment-user {
						margin-top: 50px;
						position: relative;

						input,
						textarea {
							border: 1px solid #d8d8d8;
							border-radius: 5px;
							width: 100%;
							padding-left: 10px;
							font-family: $mainFont;

							&:focus {
								outline: 0;
							}
						}

						input {
							height: 30px;
						}

						textarea {
							height: 130px;
							resize: none;
							padding-top: 10px;
						}

						label {
							position: absolute;
							font-weight: 300px;
							font-size: 13px;
							top: -20px;
							left: 0;
						}
					}

					.submit-comment {
						text-align: center;
						margin-top: 20px;

						input[type='submit'] {
							width: 50%;
							height: 40px;
							background-color: $rouge;
							border: 1px solid #fff;
							border-radius: 10px;
							color: #fff;
							transition: all 0.3s ease-in-out;
							cursor: pointer;

							&:hover {
								transition: all 0.3s ease-in-out;
								background-color: #fff;
								border-color: $rouge;
								color: $rouge;
								font-weight: 600;
							}

							&:focus {
								outline: none;
							}
						}
					}

					.container-note {
						display: flex;
						justify-content: flex-start;
						align-content: center;
						align-items: center;

						.star {
							background-image: url('../../assets/img/star-inactive.png');
							background-position: center;
							background-size: cover;
							width: 27px;
							height: 27px;
							cursor: pointer;

							&:hover,
							&.active,
							&.selected {
								background-image: url('../../assets/img/star-active.png');
							}
						}
					}
				}
			}

			.right-column {
				background-size: cover;
				background-position: center;
			}
		}
	}
}
